*.csv.gz
nora10/mylake/png/*
*.nc
txt.bz2
nora10/nora10ck/freebee/comsat/NSD/*
nora10/nora10ck/freebee/*.pdf
nora10/nora10ck/freebee/samplevariogram/*.pdf
nora10/nora10ck/freebee/interpolated/*
nora10/nora10ck/freebee/temp/*
co2/comsat/*
co2/input*
co2/output*
co2/phreeqc-2.18.3/*
*.Rhistory
*.pyc
*.txt.gz
*/test*.csv
cordex/*/*/png/*.png
smallhelps/*/SwedishBathymetry/*/*
nora10/stationcomparison/*/*/Dognverdier_(for_dognintervall).txt
nora10/stationcomparison/*/*/*.txt.gz
nora10/mylake_inputs/*/*/*.mlinput
utilities/R\ and\ NetCDF/*.nc
utilities/R\ and\ NetCDF/*.csv
nora10/comsat/*
nora10/comsat/*/*
nora10/mylake_inputs/*/*/*
nora10/collated/*/*
nora10/mylake_calib/*/*/*.txt
nora10/mylake_outputs/*/*/*/*
nora10/mylake_calib/png/*
nora10/mylake_calib/png\ copy/*
nora10/v12-kojioctave/
nora10/application_scripts/v12-kojioctave/