*.csv.gz
nora10/mylake/png/*
*.nc
txt.bz2
nora10/nora10ck/freebee/comsat/NSD/*
nora10/nora10ck/freebee/*.pdf
nora10/nora10ck/freebee/samplevariogram/*.pdf
nora10/nora10ck/freebee/interpolated/*
nora10/nora10ck/freebee/temp/*
co2/comsat/*
co2/input*
co2/output*
co2/phreeqc-2.18.3/*
*.Rhistory
*.pyc
*.txt.gz
*/test*.csv
cordex/*/*/png/*.png
smallhelps/*/SwedishBathymetry/*/*